* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "メイリオ";
}

.container{
  width:1008px;
  margin: 0 auto;
}

.subtitle{
  background-color: #00A0E9;
}

.subtitle-text{
  color:#fff;
  font-size: 14px;
  padding-block: 0.5em;
}