* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Meiryo", "Hiragino Sans", sans-serif;
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* PCのみ,SPのみ表示 */
@media (min-width: 640px) {
  .visible-sp {
    display: none !important;
  }
}
@media (max-width: 640px) {
  .visible-pc {
    display: none !important;
  }
}

body {
  background-color: #fff;
}
@media (min-width: 640px) {
  body {
    background-color: #f5f5f5;
  }
}
/* ラッパー */
.container {
  width: 91%;
  margin-inline: auto;
}
@media (min-width: 640px) {
  .container {
    width: min(88%, 1000px);
  }
}

header {
  background-color: #fff;
}
/* 水色バーサブタイトル */
.subtitle {
  background-color: #00a0e9;
}
.subtitle-text {
  color: #fff;
  font-size: 14px;
  padding: 0.5em;
}

/* タイトル＋予約 */
.heading {
  margin-inline: auto;
  width: 91%;
}
@media (min-width: 640px) {
  .heading {
    width: min(88%, 1200px);
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
  }
}
.header__logo {
  width: 50%;
  height: auto;
  display: block;
  margin: 1rem auto;
}
@media (min-width: 640px) {
  .header__logo {
    width: 20%;
    margin: auto 0;
  }
}
.header__contact {
  display: flex;
  justify-content: space-between;
}
.header__contact path {
  color: #fff;
}
.tel-link {
  background-color: #f39800;
  color: #fff;
  border-radius: 0.5em;
  text-decoration: none;
  width: 48%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0.3em;
}
.tel-link svg {
  vertical-align: middle;
}
.header__address {
  width: 280px;
  margin-right: 1rem;
}
.tel span {
  font-size: 24px;
  font-weight: 500;
}
.reserve-link {
  background-color: #f39800;
  color: #fff;
  border-radius: 0.5em;
  text-decoration: none;
  width: 48%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0.3em;
  gap: 0.2em;
  border: 2px solid #f39800;
  transition: 0.3s;
}
@media (min-width: 640px) {
  .reserve-link {
    font-size: 20px;
  }
}
.reserve-link:hover {
  background-color: #fff;
  color: #f39800;
  font-weight: 600;
}
.reserve-link svg {
  vertical-align: middle;
}
.reserve-link path {
  color: #fff;
}
.reserve-link:hover path {
  color: #f39800;
}
.reserve-link:active {
  transform: translate(4px, 4px);
}

/* ハンバーガーメニュー */
/* ハンバーガーボタン高さ調整 */
.header-nav-wrapper,
.header-nav {
  height: auto;
}
@media (min-width: 640px) {
  .header-nav {
    display: none;
  }
}
/* ハンバーガーボタンのベース */
.hamburger-btn {
  width: 100%;
  height: 42px;
  background-color: #00a0e9;
  z-index: 9999;
  position: relative;
  border: none;
  margin-block: 1rem;
}
/* 3本線 */
.hamburger-line {
  position: absolute;
  background-color: #fff;
  width: 26px;
  height: 4px;
  right: 10px;
  transition: 0.3s ease;
}
/* 各線の位置 */
.hamburger-line:nth-child(1) {
  top: 10px;
}
.hamburger-line:nth-child(2) {
  top: 19px;
}
.hamburger-line:nth-child(3) {
  top: 28px;
}
/* 開いたときの三本線 */
.hamburger-btn.is-active .hamburger-line {
  width: 26px;
  height: 4px;
  right: 8px;
}
.hamburger-btn.is-active .hamburger-line:nth-child(1) {
  top: 20px;
  transform: rotate(45deg);
}
.hamburger-btn.is-active .hamburger-line:nth-child(2) {
  opacity: 0;
}
.hamburger-btn.is-active .hamburger-line:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
}
.kv-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  /* ヘッダーとヒーローをまとめるラッパー */
  .kv-wrapper {
    flex-direction: column-reverse;
  }
}
/* メニュー全体 */
.global-nav {
  height: 0;
  background: #fff;
  transition: height 0.3s ease;
  z-index: 9998;
  overflow: hidden;
  /* margin-bottom: 1rem; */
}
@media (min-width: 640px) {
  .global-nav {
    height: auto;
    box-shadow: 0px 10px 10px #ccc;
    padding-block: 0.5em;
  }
}
/* 開いたときのメニュー */
.global-nav.is-open {
  height: 400px;
}
@media (min-width: 640px) {
  .global-nav.is-open {
    height: auto;
  }
}
/* メニュー内のリンク */
.header__menu-list {
  list-style: none;
  padding-block: 1rem;
  margin-left: 1.5rem;
}
@media (min-width: 640px) {
  .header__menu-list {
    display: flex;
    margin: 0 auto;
    width: min(88%, 1000px);
  }
}
.header__menu-list li + li {
  margin-top: 1rem;
}
@media (min-width: 640px) {
  .header__menu-list li + li {
    margin-top: 0;
  }
}
@media (min-width: 640px) {
  .header__menu-item {
    border-inline: 1px solid #ddd;
    flex: 1;
    text-align: center;
    padding-block: 1em;
  }
}
.header__menu-item a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  transition: 0.3s;
}
@media (min-width: 640px) {
  .header__menu-item a {
    font-weight: 600;
    white-space: nowrap;
    font-size: clamp(0.8rem, 1.2vw, 1.2rem);
    display: block;
    text-align: center;
  }
}
.header__menu-item a:hover {
  color: #00a0e9;
}
.header__menu-item img {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.hero {
  background-color: #fff;
}
@media (min-width: 640px) {
  .hero {
    display: flex;
    justify-content: center;
    border-block: 1px solid #ccc;
  }
}
.hero-img {
  height: auto;
  width: 100%;
}
@media (min-width: 640px) {
  .hero img {
    width: min(88%, 1200px);
  }
}

/* メインコンテンツ */
.layout {
  display: block;
}
@media (min-width: 640px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2rem;
  }
}
/* 新着情報セクション */
.news-section {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
@media (min-width: 640px) {
  .news-section {
    margin-top: 2rem;
  }
}
.heading-ttl {
  background-color: #e7ecd5;
  padding: 0.5rem;
  position: relative;
  padding-left: 1em;
  font-size: 22px;
}
.heading-ttl::before {
  content: "";
  width: 6px;
  height: 1.2em;
  background-color: #00a3e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-inline: 0.5em;
}
.news-item {
  margin-top: 1rem;
}
.news-item span {
  color: #aaa;
}
.news-item p {
  color: #00a0e9;
  font-weight: 700;
  font-size: 22px;
}
.item-list-link {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background-color: #f39800;
  padding: 0.4rem 1rem 0.4rem 3rem;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-top: 1rem;
}
.item-list-link svg {
  width: 2em;
  height: 2em;
  margin-left: 0.5em;
  vertical-align: middle;
}
.item-list-link svg path {
  stroke: #fff;
}
/* 人気のコースセクション */
.course-section {
  margin-top: 2rem;
}
.course-intro {
  margin-block: 1rem;
  line-height: 1.6;
}
.course-cards {
  display: flex;
  justify-content: space-between;
}
.course-cards a {
  display: block;
  width: 31%;
}
.course-cards img {
  width: 100%;
}
/* お客様の声セクション */
.voice-section {
  margin-top: 2rem;
}
.voice-card {
  padding: 1rem;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  background-color: #fff;
}
@media (min-width: 640px) {
  .voice-card {
    flex-direction: row;
    padding: 1.5rem;
    gap: 2rem;
  }
}
.voice-img {
  width: 60%;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .voice-img {
    width: 30%;
  }
}
.voice-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.voice-title {
  color: #00a0e9;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}
@media (min-width: 640px) {
  .voice-title {
    font-size: 22px;
  }
}
.voice-course {
  margin-top: 1rem;
  margin-left: auto;
}
@media (min-width: 640px) {
  .voice-course {
    margin-top: auto;
  }
}

/* メインコンタクトセクション */
.main__contact {
  display: flex;
  background-color: #fff;
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
}

.main__cta {
  text-align: center;
  margin-top: 1rem;
  position: relative;
}
.main__cta::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2.5rem;
  transform: translateY(-68%);
  width: 1px;
  height: 3.5rem;
  background-color: #ccc;
}
.main__cta a {
  text-decoration: none;
  background-color: #f39800;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  transition: 0.3s;
  font-weight: 700;
}
.main__cta svg {
  width: 24px;
  height: 24px;
  margin-left: 0.5em;
  vertical-align: middle;
}

/* サイドバー */
.sidebar__reserve-link {
  width: 100%;
  font-size: 1.3rem;
  margin-top: 2rem;
}
.sidebar__heading-ttl {
  background-color: #fff;
  font-size: 22px;
  margin-top: 1rem;
}
@media (min-width: 640px) {
  .sidebar__heading-ttl {
    margin-top: 2rem;
    background-color: #f5f5f5;
  }
}
.sidebar__heading-ttl::before {
  margin: 0;
}
.sidebar__movie iframe {
  width: 100%;
  height: 200px;
  margin-top: 1rem;
}
@media (min-width: 640px) {
  .sidebar__info img {
    box-shadow: 0px 4px 6px #ccc;
  }
}
.sidebar__address {
  font-style: normal;
}
.sidebar__address p {
  margin-top: 0.5rem;
}
