* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Meiryo", "Hiragino Sans", sans-serif;
  color: #333;
}

@media (min-width: 640px) {
  .visible-sp {
    display: none !important;
  }
}
@media (max-width: 640px) {
  .visible-pc {
    display: none !important;
  }
}

.container {
  width: 91%;
  margin-inline: auto;
}
@media (min-width: 640px) {
  .container {
    width: min(60%, 1200px);
  }
}

.subtitle {
  background-color: #00a0e9;
}

.subtitle-text {
  color: #fff;
  font-size: 14px;
  padding: 0.5em;
}

.header__logo {
  width: 50%;
  height: auto;
  display: block;
  margin: 1rem auto;
}

.header__contact {
  display: flex;
  justify-content: space-between;
}

.header__contact path {
  color: #fff;
}

.tel-link {
  background-color: #f39800;
  color: #fff;
  border-radius: 0.5em;
  text-decoration: none;
  width: 48%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0.3em;
}
.tel-link svg {
  vertical-align: middle;
}

.reserve-link {
  background-color: #f39800;
  color: #fff;
  border-radius: 0.5em;
  text-decoration: none;
  width: 48%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0.3em;
  gap: 0.2em;
}
.reserve-link svg {
  vertical-align: middle;
}

/* ハンバーガーメニュー */
/* ハンバーガーボタン高さ調整 */
.header-nav-wrapper,
.header-nav {
  height: 42px;
}
/* ハンバーガーボタンのベース */
.header-nav__toggle {
  width: 100%;
  height: 42px;
  background-color: #00a0e9;
  z-index: 9999;
  position: relative;
  border: none;
  margin-top: 1rem;
}
/* 3本線 */
.hamburger-line {
  position: absolute;
  background-color: #fff;
  width: 26px;
  height: 4px;
  right: 10px;
  transition: 0.3s ease;
}
/* 各線の位置 */
.hamburger-line:nth-child(1) {
  top: 10px;
}
.hamburger-line:nth-child(2) {
  top: 19px;
}
.hamburger-line:nth-child(3) {
  top: 28px;
}
/* 開いたときの三本線 */
.header-nav__toggle.is-active .hamburger-line {
  width: 26px;
  height: 4px;
  right: 8px;
}
.header-nav__toggle.is-active .hamburger-line:nth-child(1) {
  top: 20px;
  transform: rotate(45deg);
}
.header-nav__toggle.is-active .hamburger-line:nth-child(2) {
  opacity: 0;
}
.header-nav__toggle.is-active .hamburger-line:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
}
/* メニュー全体 */
.header-nav__menu {
  height: 0;
  background: #fff;
  transition: height 0.3s ease;
  z-index: 9998;
  overflow: hidden;
}
/* 開いたときのメニュー */
.header-nav__menu.is-open {
  height: 380px;
}
/* メニュー内のリンク */
.header__menu-list {
  list-style: none;
  padding-block: 1rem;
}
.header__menu-list li+li{
  margin-top: 1rem;
}
.header__menu-item a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.header__menu-item img {
  width: 1em;
  height: 1em;
  margin-right: .5em;
}
